main {
  position: relative;
}

header {
  font-family: ui-monospace, monospace;
  font-weight: 600;
}

canvas {
  background-color: #fafafa;
  border-radius: var(--s-2);
  width: 100%;
  height: auto;
}

button {
  background: white;
  border: var(--s-5) solid black;
  box-shadow: none;
  border-radius: 4px;
  padding: 0 var(--s-1);
  cursor: pointer;
}

svg {
  max-width: 100%;
  height: auto;
}

/* Description list */
@media (max-width: 419px) {
  dl dd {
    margin-inline-start: 2ch;
  }
  dl > dd + dt {
    margin-top: var(--s-1);
  }
}
@media (min-width: 420px) {
  dl.tableList {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5ch 1ch;
  }
}
dl.tableList dt {
  font-weight: 600;
  font-style: italic;
}

svg #labels {
  display: none;
}
svg #doors,
svg #labels,
svg #tables {
  pointer-events: none;
}

#legend {
  display: flex;
  gap: 1em;
  margin: 0;
  flex-wrap: wrap;
}
#legend li {
  display: inline-flex;
  align-items: center;
  line-height: 1.1;
}
.legendColour {
  display: inline-block;
  width: 1em;
  background-color: var(--colour);
  height: 1em;
  border-radius: 1em;
  margin-inline-end: 0.25em;
  vertical-align: middle;
}
#popup::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
#popup:focus {
  outline: none;
}
#popup .toolbar {
  position: sticky;
  bottom: 0;
}
